<section class="note">
  <aside class="note-meta">
    <%- partial('post/date', {date_format: 'YYYY-MM-DD'}) %> <%- partial('post/category') %>
  </aside>
  <%- partial('post/title', {class_name: 'note-title'}) %>
  <div class="note-desc">
    <%- post.excerpt %>
    <% if (theme.excerpt_link){ %>
    <a href="<%- url_for(post.path) %>"><%= theme.excerpt_link %></a>
    <% } %>
  </div>
</section>
